#dice-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: stretch;
}

.dice-module {
	padding: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dice-module span {
	flex-grow: 1;
}

.dice-module {
	width: 80px;
}

.dice-icon {
	padding-top: 4px;
	padding-bottom: 4px;
}
